  body {
    font-family: Playfair Display black;
    line-height: 1.6;
    background-color: #f5eee4;

  }

  .Middle {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .navbar-brand {
    font-family: 'Azeret Mono', monospace;
    font-size: 2rem;
    font-weight: bold;
  }
  .collapse {
  font-family: 'Azeret Mono', monospace;
  font-weight: 100;
  font-size: 1.3125rem;
  margin-left: 4.5rem;
  }

  h2 {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
  }

 .split1 {
    margin-bottom: 4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }

  .carousel-inner {
    font-family: Goblin One;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 15rem;
    object-position: center;
  }

  .split2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .Searchbar {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
    font-family: 'Azeret Mono', monospace;
  }
